<head>
	<style> body { margin: 0; } </style>
	
	<link rel="icon" href="../images/mindmap3.png">

  <script src="js/three.js"></script>
  <script src="js/three-spritetext.js"></script>
  <script src="js/3d-force-graph.js"></script>
	<script src="js/neo4j-web.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/plotGraph.js"></script>
  
 </head>

<body>

	<audio id='audio' autoplay loop>
		<source src="audio/northsea.mp3" />	
	</audio>

	<div style='background-color: black; text-align: center;'>
		<input id='searchWord'></input>
		<button onclick='searchObject()' class='ui-button ui-widget'>Search object</button>
		<button onclick='searchSubject()'>Search subject</button>
		<button onclick='searchRelationship()'>Search relationship</button>
		<button onclick='plotGraph()'>Plot complete graph</button>
		<div id="3d-graph">
		</div>
	</div>

  <script>
		plotGraph();
  </script>
</body>